.menu {
    display: flex;
    justify-content: space-AROUND;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

.ul_lang {
    display: flex;
}

.ul {
    display: flex;
    font-family: Montesrrat, sans-serif;
}

.ul a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.ul p,
.lang {
    margin: 0px 0px 0px 30px;
    font-weight: 900;
    font-size: large;
    text-wrap: nowrap;
}

.ul,
.lang {
    align-self: center;
}

.logo {
    width: 100%;
}
