.menu {
    display: flex;
    justify-content: space-AROUND;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

.ul_lang {
    display: flex;
}

.ul {
    display: flex;
    font-family: Montserrat, sans-serif;
}

.ul a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.ul a p {
    border-bottom: 2px solid transparent;
    padding-bottom: 15px;
    position: relative;
}
.ul a p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* aligns with padding bottom */
    width: 100%;
    height: 2px;
    background-color: #60d0f5;
    transform: scaleX(0);
    transform-origin: center; /* animation starts from middle */
    transition: transform 0.5s ease;
}

.ul a:hover p::after {
    transform: scaleX(1); /* expands from middle outwards */
}

.ul p,
.lang {
    margin: 0px 0px 0px 30px;
    font-weight: 400;
    font-size: large;
    text-wrap: nowrap;
}

.ul,
.lang {
    align-self: center;
}

.logo {
    width: 100%;
}

.langmain {
    position: relative;
}

.langmenu {
    display: none;
    position: absolute;
    top: -10px;
    left: -10px;
    list-style: none;
}

.langmenu li {
    margin-bottom: 10px;
    font-weight: 500;
}

.isopen {
    display: block;
    z-index: 3;
}
