.about_main {
    width: 80%;
    margin: 40px auto;
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-top: 1px solid #b46bd8;
    padding: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    box-shadow: rgba(132, 132, 134, 0.2) 0px 0px 60px 20px;
    background-color: rgb(26, 26, 26);
}

.about_title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 3px solid #60d0f5;
    display: inline-block;
    width: max-content;
}

.paragraph {
    font-weight: 300;
    margin-top: 20px;
}
